/*
  * beautiful apparence
*/
@keyframes opacity{
  from{
    opacity:0.2;
  }to{
    opacity:1;
  }
}
@keyframes leftright{
  from{
    margin-left:-10px;
  }to{
    margin-left:0;/* use default value*/
  }
}
@keyframes rightleft{
  from{
    margin-right:-10px;
  }to{
    margin-right:0;/* use default value*/
  }
}
