# backup and temporary files
*~
.*.sw[op]
.gitattributes

# Wiki
/wikisetup.txt

# Python
/wiki-to-help/*.pyc
/wiki-to-help/mwlib_mods/*.pyc

# the build directories
/unxlng??
/unxlng??.pro
/wntmsc???
/wntmsc???.pro
/unxmac??
/unxmac??.pro
/wntgcci.pro

# libxslt debug memdump
.memdump
