# backup and temporary files
*~
.*.sw[op]

# Python
helpcontent2/wiki-to-help/*.pyc
helpcontent2/wiki-to-help/mwlib_mods/*.pyc

# the build directories
/unxlng??
/unxlng??.pro
/wntmsc???
/wntmsc???.pro
/unxmac??
/unxmac??.pro
/wntgcci.pro
