/*
 * This file is part of the LibreOffice project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This file incorporates work covered by the following license notice:
 *
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *   contributor license agreements. See the NOTICE file distributed
 *   with this work for additional information regarding copyright
 *   ownership. The ASF licenses this file to you under the Apache
 *   License, Version 2.0 (the "License"); you may not use this file
 *   except in compliance with the License. You may obtain a copy of
 *   the License at http://www.apache.org/licenses/LICENSE-2.0 .
 */

/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+                     LIBREOFFICE HELP IN BROWSER                   +
+                          DEFAULT STYLESHEET                       +
+                           WESTERN LANGUAGES                       +
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/

/* Structure */
html{
    background: #FFFFFF;
}
body {
    padding: 0px;
    background: #fff;
    color: #333;
    margin: 0 auto;
    max-width: 900px;
}

header {
    background: #00a500;
    padding: .5em 2em;
    color: #fff;
    line-height: 1;
}

header h1{
    margin-bottom: 0;
    color:white;
}

header nav{
    float: right;
/*    display:inline-block;*/
}

header nav select{
    font-size: .8em;
}


header nav div{
    font-size: .8em;
}

header nav div a {
    font-weight: 300;
    padding: .3em .5em
}
header nav a{
    color: #fff;
    display: inline-block;
    padding: .3em .8em
}

header nav a:hover, header nav a:focus{
    color: rgba(255,255,255,.6)
}


[role=main]{
    padding:1.5em 3em;
}
article{
    padding: 1em 0;
}
footer{
    background: #00a500;
    color: #fff;
    padding: .1em 3em;
    text-align: center;
}

footer a{
    color:#c2f6ba;
}


body, p, h1, h2, h3, h4, h5, h6, .listitem, .listitemintable, .tablecontent, .tablecontentintable {
  font-family: "Segoe UI", Ubuntu, Cantarell, "Noto Sans", "DejaVu Sans", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}

pre, .code, .codeintable, .example, .exampleintable, .literal, .literalintable, .path, .pathintable {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", "Nimbus Mono L", "Lucida Sans Typewriter", "Courier New", Courier, Monaco, monospace;
  margin-top: 1pt;
  margin-bottom: 1pt;
}

.acronym {
  font-weight: bold;
}

.related {
  font-weight: bold;
  margin-top: 20pt;
  border-top: 1px solid black;
}

.emph, .menuitem, .keycode {
  font-weight: bold;
}

.tablehead, .tableheadintable {
  font-weight: bold;
  margin-top: 0px;
  background: #CCF4C6;
  text-align: center;
}

.howtogetheader {
  font-weight: bold;
  border: 1px solid #999999;
  background: #FFFFFF;
  padding: 3px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 5pt;
  color: #18A303;
}

p, td {
  font-size: 11pt;
  margin: 2px 2px 2px 2px;
}

h1 {
  font-size: 18pt;
  border-bottom: 5px solid #18A303;
  padding-bottom: 6px;
  margin-bottom: 6px;
}

h2 {
  font-size: 14pt;
}

h3 {
  font-size: 12pt;
}

h4, h5, h6 {
  font-size: 11pt;
}

.avis {
/*    background-color: #EEEEEE;*/
}

.relatedtopics {
  font-weight: normal;
}

.relatedbody {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 5px;
}

.howtoget {
  background: #CCF4C6;
}

.howtogetbody {
  background: #CCF4C6;
  margin: 0px;
}

.wide {
  width: 100%;
}

.topalign {
  vertical-align: top;
  border: 1px;
}

.bug {
  color: red;
  border: 1px solid red;
}

.debug {
  border: 1px solid black;
  padding: 3px;
  display: show;
  background-color:black;
  text-align: left;
}

/* Basic code syntax highlight */
.identifier, .unknown {
  color: green;
}

.keyword {
  color: blue;
}

.comment {
  color: gray;
}

.number, .string {
  color: red;
}

.operator, .parameter {
  color: black;
}

.hotlink {
  color: blue;
}

.infopage {
  color: green;
  font-size: 16pt;
  font-weight: bold;
}

.topmenu {
  font-size: 12pt;
  font-weight: bold;
  padding: 1px;
  border: solid 1px #18A303;
}

a:hover, a:focus{
    color: #000;
}
a:active{
    position: relative;
    top:1px;
}

/* Tabs */

.js-on #tabs article
{
    display:none
}

#tabs, #tabs nav a.active{
background: #f8f8f8;
color: #111;
}

#tabs nav
{
    position: relative;
    overflow: hidden;
    display: table;
    background: #bbb;
}

#tabs nav a
{
    width:200px;
    display:table-cell;
    padding:1em;
    text-align:center;
    color: #333;
}

#tabs nav a:hover,#tabs nav a:focus
{
    background:#eee
}

#tabs article
{
    padding:2em;
}

.js-on #tabs article.active
{
    display:block;
}
#tabs #mobiles{
display:none;
border-radius: 0;
}
#tabs #mobiles a, #tabs #mobiles a:first-child, #tabs #mobiles a:last-child{
width:300px;
border-radius: 0;
}

#DisplayArea {
}

#Index {
  overflow: auto;
}

#Index ul{
  list-style-type: none;
}

#SearchBox{
background-color:#c2f6ba;
border-color:green;
border:solid 1px;

}

#TopRight {
}

#TopLeft {
  left: 1px;
  position: fixed;
  top: 35px;
}

#TopLang {
  left: 1px;
  position: fixed;
  top: 1px;
  right:30%
}

.mediabutton {
  background-color: cyan;
}

.tintro {
  color: white;
  background-color: green;
  font-family: Arial;
  font-weight: bold;
  font-size: 24pt;
  border: 1px solid black;
  padding-bottom: 6px;
  margin-bottom: 6px;
}

.embedded {
}

/* Media queries */
@media screen and (min-width:900px)
{
    body{font-size: 1.1em;}
}

@media screen and (max-width:600px)
{
    #tabs nav{
    display: none;
    position: relative;
    }
    #tabs #mobiles{
    display:block;
    }
    #tabs article {
    display:block;
    }
}
@media screen and (max-width:480px)
{
    blockquote{
        float: none;
    }

    header nav a{
        padding:.7em .8em
    }
    header nav{
        float: none;
        margin: -.5em -3em 0;
        background: #000;
        overflow: hidden;
        text-align: left
    }
    header nav a{
        border-right: 1px solid #222
    }
    [role=main]{
        padding:1.5em 2em;
    }
    header nav div{
        display: none;
    }
}
