/*
 * This file is part of the LibreOffice project.
 *
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This file incorporates work covered by the following license notice:
 *
 *   Licensed to the Apache Software Foundation (ASF) under one or more
 *   contributor license agreements. See the NOTICE file distributed
 *   with this work for additional information regarding copyright
 *   ownership. The ASF licenses this file to you under the Apache
 *   License, Version 2.0 (the "License"); you may not use this file
 *   except in compliance with the License. You may obtain a copy of
 *   the License at http://www.apache.org/licenses/LICENSE-2.0 .
 */

/*
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
+                     LIBREOFFICE HELP IN BROWSER                   +
+                          DEFAULT STYLESHEET                       +
+                           WESTERN LANGUAGES                       +
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

*/

body, p, h1, h2, h3, h4, h5, h6, .listitem, .listitemintable, .tablecontent, .tablecontentintable {
  font-family: "Segoe UI", Ubuntu, Cantarell, "Noto Sans", "DejaVu Sans", "Lucida Sans Unicode", "Helvetica Neue", Helvetica, Tahoma, sans-serif;
}

body {
    margin: 0;
}

pre, .code, .codeintable, .example, .exampleintable, .literal, .literalintable, .path, .pathintable {
  font-family: Menlo, Consolas, "DejaVu Sans Mono", "Nimbus Mono L", "Lucida Sans Typewriter", "Courier New", Courier, Monaco, monospace;
  margin-top: 1pt;
  margin-bottom: 1pt;
}

.acronym {
  font-weight: bold;
}

.related {
  font-weight: bold;
  margin-top: 20pt;
  border-top: 1px solid black;
}

.emph, .menuitem, .keycode {
  font-weight: bold;
}

.tablehead, .tableheadintable {
  font-weight: bold;
  margin-top: 0px;
  background: #CCF4C6;
  text-align: center;
}

.howtogetheader {
  font-weight: bold;
  border: 1px solid #999999;
  background: #FFFFFF;
  padding: 3px;
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 5pt;
  color: #18A303;
}

p, td {
  font-size: 11pt;
  margin: 2px 2px 2px 2px;
}

h1 {
  font-size: 18pt;
  border-bottom: 5px solid #18A303;
  padding-bottom: 6px;
  margin-bottom: 6px;
}

h2 {
  font-size: 14pt;
}

h3 {
  font-size: 12pt;
}

h4, h5, h6 {
  font-size: 11pt;
}

.avis {
/*    background-color: #EEEEEE;*/
}

.relatedtopics {
  font-weight: normal;
}

.relatedbody {
  margin-top: 2px;
  margin-bottom: 2px;
  margin-left: 5px;
}

.howtoget {
  background: #CCF4C6;
}

.howtogetbody {
  background: #CCF4C6;
  margin: 0px;
}

.wide {
  width: 100%;
}

.topalign {
  vertical-align: top;
  border: 1px;
}

.bug {
  color: red;
}

.debug {
  border: 1px solid black;
  padding: 3px;
  display: show;
  background-color:#222;
  color:red;
  text-align:left;
}

/* Basic code syntax highlight */
.identifier, .unknown {
  color: green;
}

.keyword {
  color: blue;
}

.comment {
  color: gray;
}

.number, .string {
  color: red;
}

.operator, .parameter {
  color: black;
}

.hotlink {
  color: blue;
}

.infopage {
  color: green;
  font-size: 16pt;
  font-weight: bold;
}


#DisplayArea {
  overflow: auto;
/*   border: solid 1px; */
  padding: 10px;
  grid-area: main;
}

.mediabutton {
  background-color: cyan;
}

.embedded {
}

header {
    background-color: #18A303;
    color: #fff;
    height: 4em;
    padding: .5em .5em .5em 1em;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-area: header;
}

.logo {
    flex-shrink: 0;
    color: #fff;
    text-decoration: none;
    float: left;
}

.logo p {
    font-size: 1.5em;
}

.logo .symbol {
    /*mask: url(libo-symbol.svg) no-repeat center;
    mask-size: contain;
    background-color: #fff;*/
    background-image: url(media/navigation/libo-symbol-white.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 3em;
    height: 3.7em;
    float: left;
    margin-right: .5em;
}

header ul {
    margin-top: .7em;
    padding: 0;
    display: none;
}

/* Create a style for the first level items */
header > ul > li > a {
    color: #333333;
    background-color:#EEEEEE;
    display: block;
    line-height: 1.5em;
    padding: 0.2em 0.4em;
    text-decoration: none;
    font-weight: bold;
    border:1px solid;
    border-color:#333333;
    font-size: 1.5em;
}

header ul li {
  /* make sure the width is honored */
    flex-shrink: 0;
    list-style-type: none;
    z-index: 100;
}


header label {
    cursor: pointer;
    font-size: 1.2em;
    position: relative;
    top: 2em;
    float: right;
}

header input[type="checkbox"]:checked ~ ul {
	background: #f1f1f1;
	color: #444;
	z-index: 100;
    /* line them up horizontally */
    display: flex;
    flex-direction: row;
    /* allow for scrolling */
    overflow-x: auto;
    /* make it smooth on iOS */
    -webkit-overflow-scrolling: touch;
    clear: both;    
    text-align: center;
}

footer{
    background: #18A303;
    color: #fff;
    padding: .1em 3em;
    text-align: center;
    grid-area: footer;
}

footer a{
    color:#c2f6ba;
}

.breadcrumbs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #333;
}

.breadcrumbs li {
  display: inline-block;
  position: relative;
  padding-right: 2em;
  margin: 0;
}

.breadcrumbs li:after {
    content: '>';
    position: absolute;
    display: inline-block;
    right: 0;
    width: 2em;
    text-align: center;
}

.breadcrumbs li:last-child {
  font-weight: bold;
}

.breadcrumbs li:last-child:after {
    content: '';
}

.breadcrumbs a {
  text-decoration: none;
  display: inline-block;
  color: #333;
  white-space: nowrap;
}

.breadcrumbs a:hover {
    text-decoration: underline;
}

.accordion {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    list-style-type: none;
    grid-area: accordion;
}

.accordion > div {
    display:none;
}

.accordion input[type=checkbox], header input[type=checkbox] {
	position: absolute;
	opacity: 0;
}

.accordion > label {
	color: #666;
	cursor: pointer;
	display: block;
	font-size: 1em;
	height: 2.5em;
	line-height: 2.5em;
	margin-right: .25em;
	padding: 0 1.5em;
	text-align: center;
}

.accordion > label:nth-of-type(1) {
    background: #E7FDE4;
}

.accordion > label:nth-of-type(2) {
    background: #F7FEE5;
}

.accordion > label:nth-of-type(3) {
    background: #E2FBF8;
}

.accordion > label:hover {
	color: #222;
}

.accordion > label:nth-of-type(1):hover {
	background: #D5FACF;
}

.accordion > label:nth-of-type(2):hover {
	background: #F0FDD2;
}

.accordion > label:nth-of-type(3):hover {
	background: #CAF4F0;
}

.accordion input[type=checkbox]:checked + label + div {
	background: #f1f1f1;
	color: #444;
	z-index: 6;
    display:block;
}

#content-3 div#SearchBox {
	background-color: #c2f6ba;
	line-height:2em;
	border: 1px solid #18A303;
    vertical-align: center;
    text-align: center;
    top:2px;
    left:2px;
}
#content-3 ul li {
    list-style-type: none;
}
#content-3 p {
	font-size: 16pt;
	font-weight: bold;
}
#search-bar {
    max-width: 300px;
}

.modules {
    margin: 0;
    padding: 1em;
    overflow: hidden;
    grid-area: modules;
}
.modules ul{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.modules ul li {
    float: left;
    list-style-type: none;
}

/* Create a style for the first level items */
.modules > ul > li > a {
    color: #000;
    display: block;
    line-height: 1.5em;
    padding: 0.5em 0.5em;
    text-decoration: none;
    font-weight: bold;
    font-size: 11pt;
    float:left;
}

.modules div {
    /*mask: url(libo-symbol-white.svg) no-repeat center;
    mask-size: contain;*/    
    background-repeat: no-repeat;
    background-size: contain;
    float: left;
}

/* We have to use SVG sprites for now, but CSS mask would be
   the superior solution (commented out). It can be used,
   when browser support improves and bugs are fixed. */

.calc, .writer, .impress, .draw, .math, .base {
    width: 21.5px;

    height: 26px;

    position: relative;
    top: -8px;
    margin-right: 5px;
}

.calc {
    /*background-color: #179e03;*/
    background-image: url(media/navigation/libo-calc.svg);
}

.writer {
    /*background-color: #03669e;*/
    background-image: url(media/navigation/libo-writer.svg);
}

.impress {
    /*background-color: #9e3c03;*/
    background-image: url(media/navigation/libo-impress.svg);
}

.draw {
    /*background-color: #c49800;*/
    background-image: url(media/navigation/libo-draw.svg);
}

.math {
    /*background-color: #626262;*/
    background-image: url(media/navigation/libo-math.svg);
}

.base {
    /*background-color: #89039e;*/
    background-image: url(media/navigation/libo-base.svg);
}

.chart {
    background-image: url(media/navigation/libo-chart.svg);
    width: 25.14px;
    height: 25.4px;
    position: relative;
    top: -6.5px;
    margin-right: 5px;
}

.basic {
    background-image: url(media/navigation/libo-basic.svg);
    width: 25.4px;
    height: 25.4px;
    position: relative;
    top: -8.7px;
    margin-right: 5px;
}

/* tree view */

.contents-treeview ul,
.contents-treeview li
{
    padding: 0;
    margin: 0;
    list-style: none;
}

.contents-treeview
{
/*    font: normal 11px "Segoe UI", Arial, Sans-serif;*/
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.contents-treeview a
{
/*     color: #00f; */
    text-decoration: none;
}

.contents-treeview a:hover
{
    text-decoration: underline;
}

.contents-treeview input + label + ul
{
    margin: 0 0 0 22px;
}

.contents-treeview input ~ ul
{
    display: none;
}

.contents-treeview label,
.contents-treeview label::before
{
    cursor: pointer;
    background: url("media/icon-themes/res/folderop.png") no-repeat;
    color: #111;
}

.contents-treeview input:disabled + label
{
    cursor: default;
    opacity: .6;
}

.contents-treeview input:checked:not(:disabled) ~ ul
{
    display: block;
}

.contents-treeview label,
.contents-treeview a,
.contents-treeview label::before
{
    height: 16px;
    line-height: 16px;
    vertical-align: middle;
}

.contents-treeview label
{
    background-position: 18px 0;
}

.contents-treeview label::before
{
    content: "";
    width: 16px;
    margin: 0 22px 0 0;
    background-position: 0 -32px;
    display: inline-block;
}

.contents-treeview input:checked + label::before
{
    background-position: 0 -16px;
}

/* webkit adjacent element selector bugfix */
@media screen and (-webkit-min-device-pixel-ratio:0)
{
    .contents-treeview
    {
        -webkit-animation: webkit-adjacent-element-selector-bugfix infinite 1s;
    }

    @-webkit-keyframes webkit-adjacent-element-selector-bugfix
    {
        from
        {
            padding: 0;
        }
        to
        {
            padding: 0;
        }
    }
}

@media screen and (min-width:960px) {
    body {
        max-width: 960px;
        margin: auto;
    }
    header > ul > li > a {
        font-size: 1em;
    }
    /* force a break after the language button so menu will go below */
    header label {
        page-break-after: always;
        break-after: always;
    }
    /* change the language menu direction to stacked */
    header input[type="checkbox"]:checked ~ ul {
        flex-direction: column;
        max-width: 7.5em;
        float: right;
        overflow-y: auto;
        max-height: 30em;
    }
}

@supports (grid-area: auto) {
    @media screen and (min-width:960px) {
    body {
        max-width: 1280px;
        margin: auto;
        display: grid;
        grid-template-columns: 320px 1fr;
        grid-template-rows: 1fr minmax(1em, auto);
        grid-template-areas: "header header"
                             "accordion modules"
                             "accordion main"
                             "footer footer";
    }
}
}
